.box {
  display: inline-block;
  background-color: lightgrey;
  width: 96%;
  margin-top: 2em;
  margin-left: 2em;
}
h1 {
  padding: 1em;
  text-align: center;
  color: #7b505e;
}
img {
  width: 70%;
  display: inline-block;
}
.img {
  height: 50%;
}
.bloc {
  display: inline-block;
  width: 20%;
  padding: 2em;
}
